.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
	background-color: #5FBCF8;
}

img{
	float: right;
	margin: 10px;
	margin-right: 80px;
	border: 5px outset #0000A0;
	border-radius: 5px;
	
}

header {
	float: top;
}

footer {
	margin:5px auto;
}


.aside{
	background-color: #9EC2D9;
	width: 250px;
	height: auto;
	float: left;
	border: 5px outset #0000A0;
	border-radius: 5px;
	padding: 10px;
}

.aside h2 {
	text-align: center;
}

.article {
	background-color: #9EC2D9;
	width: 500px;
	height: auto;
	margin:30px auto;
	border: 5px outset #0000A0;
	border-radius: 5px;
	padding: 20px;
}

.article h4 {
	text-align: right;
}