.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
	background-color: #5FBCF8;
}

img{
	display: inline-block;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	border: 5px outset #0000A0;
	border-radius: 5px;
	vertical-align: top;
}

header {
	float: top;
}

footer {
	margin:5px auto;
}


.aside{
	background-color: #9EC2D9;
	width: 230px;
	display: inline-block;
	border: 5px outset #0000A0;
	border-radius: 5px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px;
	text-align: center;
	vertical-align: top;
}

.article {
	background-color: #9EC2D9;
	width: 500px;
	height: auto;
	margin:30px auto;
	border: 5px outset #0000A0;
	border-radius: 5px;
	padding: 20px;
}

.article h4 {
	text-align: right;
}

